.hidden {
    max-height: 0;
    border-width: 0;
    margin: 0 0.2em;
    transform: translateX(90deg);
}

.revealed {
    max-height: 6rem;
    border-width: 1px;
    transform: translateX(0deg);
    transition: all 0.75s;
    margin: 0.2em;
}




.list {
    &.container {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-flow: row wrap;
    }
    &.item {
        box-sizing: border-box;
        flex: 1 1 40%;
        order: 2;
        border: 1px solid grey;
        text-align: center;
        overflow: hidden;
        margin: 0.2em;
    }
    .heading {
        flex: 1 1 100%;
        order: 1;
    }
}


.expand-list {
    display: none;
    & + label {
        text-align: center;
    }
    &:checked + label {
        display: none;
    }
}

.expand-list:checked ~ ul.list.container {
    border-color: green;    
}

.expand-list:checked ~ ul.list.container .item:nth-child(1n+5){
    @extend .revealed;    
}




main {
    display: flex;
    flex-flow: row no-wrap;

    .large {
        flex: 1 1 70%;
        .list {
            .list.item {
                flex: 1 1 22%;
                &:nth-child(1n+13) {
                    @extend .hidden;
                }
            }
        }
    }

    .small {
        flex: 1 1 30%;
        .list {
            .list.item {
                &:nth-child(1n+5) {
                    @extend .hidden;
                }
            }
        }
    }
}